.LoginWrapper {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

.MapWrapper {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 50px 1fr 12fr 8fr;
  height: 100vh;
}

.ForecastWrapper {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 50px 1fr 20fr;
  height: 100vh;
}

.MapWrapper h2 {
  margin: 6px;
}

.MapWrapper h2 {
  margin: 6px;
}

.map {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
